* {
  font-family: "Mustica Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.logo {
  font-family: "Syne", sans-serif;
  color: #f7f5f5;
}
.sub--title {
  font-family: "Darker Grotesqu", sans-serif;
}
.title {
  font-family: "Transforma Mix Medium", sans-serif;
}
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 10px;
    gap: 60px;
  }
}
